#hero.bg-image {
    background-image: url(https://imgsitepessoal.s3.sa-east-1.amazonaws.com/imgs/code-ge2b180d34_1920.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    align-items: center;

    .mask {
        /* height: auto; */
        background-color: rgba(0, 0, 0, 0.329);

        &:hover{
            background-color: rgba(0, 0, 0, 0.695);
            transition: all 0.5s ease-in-out;
        }
    }
}
