#rodape {
    background-color: #023e;
    .d-flex {
        background-color: #023e;
    }
    .d-flex a{
        margin: 1em;
    }
    .text-white a{
        text-decoration: none;
    }
    .bi {
        font-size: 1.3rem;
        color: white;
    }
    .bi bi-heart-fill {
        background-color: white;
    }
}